.form {
    margin: 10px auto 30px;
    display: flex;
    flex-direction: column;
}

.input {
    display: block;
    max-width: 200px;
    border: none;
    outline: none;
    padding: 7px 15px;
    transition: border-color 0.4s ease;
    border: 1px solid transparent;
    font-size: 16px;
    &+& {
        margin-top: 10px;
    }
    &:focus {
        border-color: aqua;
    }
}